//Uni
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  // Header
  .header {
    //   Nav
    .navbar {
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        margin: 0 1rem;
      }
      .grid-layout {
        background: #333;
        color: blanchedalmond;
        display: flex;
        flex-direction: row;
        label {
          margin: 0.5rem;
          text-align: center;
        }
        #change-btn {
          outline: none;
          color: black;
          padding: 0.25rem;
          background: coral;
        }
      }
      #cords {
        margin: 0.5rem;
      }
      #explode-btn {
        padding: 1rem;
        background-color: white;
        border: black 2px solid;
        font-size: 1rem;
        font-weight: bold;
        transition: 0.5s;
        margin: 20px;
        &:hover {
          background-color: coral;
        }
      }
    }
  }
  // Grid
  .grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    ul {
      display: flex;
      flex-direction: column;
      margin: 0.25rem;
    }
    li {
      width: 25px;
      height: 25px;
      background-color: rgb(177, 153, 153);
      margin: 0.25rem;
      transition: 0.5s;
      padding: 0.75rem;
      &:hover {
        cursor: pointer;
        background-color: coral;
      }
    }
    // LI
    li.start-point {
      border-radius: 5px;
    }
    li.exploded {
      background-color: darkred;
    }
    li.wall {
      background-color: dimgray;
      border-radius: 20px;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}
